In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Loading data
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 15304 non-null  int64
 1   gender             15304 non-null  object
 2   age                15304 non-null  float64
 3   hypertension       15304 non-null  int64
 4   heart_disease      15304 non-null  int64
 5   ever_married       15304 non-null  object
 6   work_type          15304 non-null  object
 7   Residence_type     15304 non-null  object
 8   avg_glucose_level  15304 non-null  float64
 9   bmi                15304 non-null  float64
 10  smoking_status     15304 non-null  object
 11  stroke             15304 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 1.4+ MB

In [4]:

df_train['hypertension'].unique()

array([0, 1])

In [5]:
df_train['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [6]:
#Data exploration

In [7]:
#Data cleaning
df_train.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [8]:
df_train['gender'].replace(['Female','Male','Other'],[0,1,2],inplace=True)
df_test['gender'].replace(['Female','Male','Other'],[0,1,2],inplace=True)

In [9]:
df_train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,1,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,0,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,1,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,0,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [10]:
categorical_variable = df_train.select_dtypes(['object'])
for col in categorical_variable:
    print(col,df_train[col].unique())

ever_married ['Yes' 'No']
work_type ['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
Residence_type ['Urban' 'Rural']
smoking_status ['never smoked' 'formerly smoked' 'Unknown' 'smokes']

In [11]:
df_train['ever_married'].replace(['Yes','No'],[1,0],inplace=True)
df_train['Residence_type'].replace(['Urban', 'Rural'],[0,1],inplace=True)
df_train['work_type'].replace(['Private', 'Self-employed', 'Govt_job', 'children' ,'Never_worked'],[4,3,2,1,0],inplace=True)
df_train['smoking_status'].replace(['never smoked' ,'formerly smoked' ,'Unknown', 'smokes'],[3,2,1,0],inplace=True)
df_train['stroke'] = df_train['stroke'].astype(float)

df_test['ever_married'].replace(['Yes','No'],[1,0],inplace=True)
df_test['Residence_type'].replace(['Urban', 'Rural'],[0,1],inplace=True)
df_test['work_type'].replace(['Private', 'Self-employed', 'Govt_job', 'children' ,'Never_worked'],[4,3,2,1,0],inplace=True)
df_test['smoking_status'].replace(['never smoked' ,'formerly smoked' ,'Unknown', 'smokes'],[3,2,1,0],inplace=True)

In [12]:
df_train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,28.0,0,0,1,4,0,79.53,31.1,3,0.0
1,1,1,33.0,0,0,1,4,1,78.44,23.9,2,0.0
2,2,0,42.0,0,0,1,4,1,103.00,40.3,1,0.0
3,3,1,56.0,0,0,1,4,0,64.87,28.8,3,0.0
4,4,0,24.0,0,0,0,4,1,73.36,28.8,3,0.0

In [13]:
# defining target variables
X = df_train.drop('stroke',axis=1)
y = df_train['stroke']

In [14]:
# Modeling 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR

x_train , x_test , y_train, y_test = train_test_split(X,y,train_size=0.33,random_state=42)

In [15]:
en =  ElasticNet()
en.fit(x_train,y_train)
en.score(x_test,y_test)

0.057526400688227786

In [16]:
gb = GradientBoostingRegressor()
gb.fit(x_train,y_train)
gb.score(x_test,y_test)
#Seems to perform the best

0.13294687737442712

In [17]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.10635286888651285

In [18]:
svr = SVR()
svr.fit(x_train,y_train)
svr.score(x_test,y_test)

-0.0847042621448717

In [19]:
prediction = lr.predict(df_test)
submission = pd.DataFrame({'id':df_test['id'],'stroke':prediction})
submission.to_csv('submission.csv',index=False)